:root {
    --primary: "#812dd3";
    --dark-primary: "";
    --light-primary: "";

    
    --secondary: "#F924A4";
    --dark-secondary: "";
    --light-secondary: "";

    --font-family: 'font-family';
    --font-url: 'https://example.com/font';
}

