:root {
    --primary: #54a15d;
    --dark-primary: #cce59d;
    --light-primary: #f4f9eb;
    --secondary: #00539c;
    --dark-secondary: #84b4fb;
    --light-secondary: #e2ebf9;
    --font-family: 'font-family';
    --font-url: 'https://example.com/font';
    // 00539c
}

