.header{
background-color: rgba(25, 26, 28, 0.6) !important;
color: #fff;

&-list{
  background-color: rgba(25, 26, 28, 0.6) !important;
  .v-list-item{
    color: #fff !important;
    &:hover{
      background-color: var(--primary) !important;
      // color: var(--light-secondary) !important;
    }
  }
}


.v-btn--exact-active {
  color: var(--primary) !important;
  border-radius: 0;

  &::before {
    display: none;
  }

}
}